.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .cartSummary button {
    background-color: black;
    height: 50px;
    color: white;
  }
  
  .cartHeaders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    width: 95%;
    border-bottom: 1px solid black;
    margin: 0 auto;
    text-align: center;
  }
  
  .cartContents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    width: 95%;
    text-align: center;
  }
  
  .cartContents .sneakerContainer {
    display: contents;
  }
  
  .cartContents img {
    height: 200px;
    width: 300px;
    display: block;
  }
  
  .cartContents .cartQuantity, .cartContents .description, .cartContents p {
    display: flex;      
    justify-content: center; 
    align-items: center;
    margin: 0;
    border-bottom: 1px solid black;
  }
  
  .cartContents .cartQuantity .quantityNumber {
    border: 1px solid;
    width: 60px;
    height: 30px;
    }
  
  .cartContents .cartQuantity .quantityChanger {
    border: 1px solid;
    width: 30px;
    height: 30px;
  }
  
  .cartContents .cartQuantity .quantityChanger.inactive svg {
    opacity: 0;
    pointer-events: none;
  }
  
  .cartContents div svg {
    cursor: pointer;
  }
  
  .cartSummary {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 30%;
    padding-top: 30px;
    margin-left: auto;
    margin-right:2.5%;
  }
  
  .cartSummary div p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    font-size: 18px;
  }
  .cartSummary div p b {
    font-size: 15px;
  }
  
  .checkout {
    padding-top: 5%;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border: none;
  }
  
  dialog {
    width: 80%;
    border: none;
  }
  
  