@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: 'Inter', sans-serif;
}


#root {
  height: 100%;
  width: 100%;

}

.app {
  display: flex;
  flex-direction: column;
  height: 95%;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  min-height: 80px;
  position: relative; 
  justify-content: flex-end;
  padding-right: 2%;
  align-items: center;
  min-width: 600px;

}


.navbar a:visited {
  color: inherit;
}

.navbar h1 {
  position: absolute;
  left: 2%;
}

.navbar ul li {
  display: inline;
  margin: 0 15px;
  cursor: pointer;
}

.sneaker {
  display: inline-block;
  flex-direction: column;
  margin-top: 10px;
  width: 300px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0px 20px;
}

.sneaker div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: white;
  padding: 0px 20px;
}

.sneaker div p, .sneaker div h4 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.sneaker div p:last-of-type {
  position: absolute;
  right: 2.5%;
  top: 10%;
}

img {
  width: 100%;
  height: 250px;
  filter:brightness(85%);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 50px;
  margin: 40px;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid black;
}

.accordion {
  margin: 10px 0px;
}

.accordion .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  cursor: pointer;
}

.accordion .items {
  overflow: hidden; 
  transition: max-height 0.3s ease-out; 
}

.accordion .items.expand {
  max-height: 300px; 
}

.accordion .items.collapse {
  max-height: 0; 
}

.accordion .prices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.accordion input[type='number'] {
  height: 30px;
}

form h1 {
  margin: 0;
}

form {
  display: inline-flex; /* Allow the form to sit inline with other elements */
  flex-direction: column;
  padding: 10px; /* Optional: Add padding */
  margin: 0;
  padding: 0px 20px;
  width: 12%;
  min-width: 200px;
}

form p {
  margin: 0;
}

.sneakers {
  display: inline-flex; /* Allow the sneakers list to sit inline with other elements */
  vertical-align: top; 
  flex-wrap: wrap;
  border: 1px solid black;
  width: 80%;
}


.sneaker {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.sneaker a {
  color: black;
}

.sneaker a:hover {
  color: black;
}

.product img {
  height: 40%;
  width: 25%;
  min-width: 400px;
  min-height: 400px
}

.product {
  display: flex;
  width: 100%;
  height: 90%;
  align-items: center;
  position: relative;
  justify-content: center;
}

.productInfo {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0px 80px;
  min-width: 300px;
}

.productInfo h2 {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.productInfo p {
  margin: 0;
}

.productInfo .price {
  margin-top: 20px;
  font-size: 25px;
}

.productInfo .brand {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;

}

.controls {
  display: flex;
  align-items: center;
  height: 20%;
  justify-content: space-between;
}

.stock {
  display: inline-flex;
  background-color: #F0F0F0;
  color: #FF8C00;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.stock svg:first-of-type {
  position: absolute;
  right: 5%;
}

.product .backArrow {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}
.stock svg:last-of-type {
  position: absolute;
  left: 5%;
}

.addToCartButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FF8C00;
  font-weight: bold;
  width: 77%;
  height:55px;
}

.addToCartButton svg {
  margin: 0px 20px;
}



